{{ include('pages/inc/header.html.twig') }}
<div class="container">
    <div class="row" style="display: flex; justify-content: flex-end">
        <a href="{{ absolute_url(asset('')) }}app_dev.php/rdv/" class="btn btn-primary" style="margin-bottom: 20px;">Back</a>
    </div>
    <h3>Create a rdv</h3>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
{{ include('pages/inc/footer.html.twig') }}
