{{ include('pages/inc/header.html.twig') }}
<div class="container">
        {{ form_start(form) }}
        {{ form_widget(form) }}
        <br>
        <button type="submit" class="btn btn-primary btn-lg">Registration</button>
        {{ form_end(form) }}
</div>
{{ include('pages/inc/footer.html.twig') }}
