{{ include('pages/inc/header.html.twig') }}
<div class="container">
    <div class="row" style="display: flex; justify-content: flex-end">
        <a href="{{ absolute_url(asset('')) }}app_dev.php/rdv/create" class="btn btn-primary"
           style="margin-bottom: 20px;">Create rdv</a>
    </div>
    <h3>List of RDV</h3>

    <table id="example" class="display" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Date</th>
            <th scope="col">Patient</th>
            <th scope="col">Patient Phone</th>
            <th scope="col">Status</th>
            <th scope="col">Type</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for rdv in rdvs %}
            <tr>
                <td>{{ rdv.id }}</td>
                <td>{{ rdv.date|date('Y-m-d H:i:s') }}</td>
                <td>{{ rdv.patient.name }}</td>
                <td>{{ rdv.patient.phone }}</td>
                <td>{{ rdv.status }}</td>
                <td>{{ rdv.type }}</td>
                <td>
                    <a href="{{ absolute_url(asset('')) }}app_dev.php/rdv/show/{{ rdv.id }}"
                       class="btn btn-outline-success btn-sm">View</a>
                    <a href="{{ absolute_url(asset('')) }}app_dev.php/rdv/update/{{ rdv.id }}"
                       class="btn btn-outline-warning btn-sm">Edit</a>
                    <a href="{{ absolute_url(asset('')) }}app_dev.php/rdv/delete/{{ rdv.id }}"
                       class="btn btn-outline-danger btn-sm">Delete</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{{ include('pages/inc/footer.html.twig') }}
